.line{
    width:70px;
    height:10px;
    background-color:black;
    margin:auto;
}
body{
    text-align: center;
    
}
img{
    width:200px;
    height=200px;
    transition:transform 0.2s;
}
img:hover{
    transform:scale(0.9);
}